@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?8ozay3');
  src:  url('../fonts/icomoon.eot?8ozay3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?8ozay3') format('truetype'),
    url('../fonts/icomoon.woff?8ozay3') format('woff'),
    url('../fonts/icomoon.svg?8ozay3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.page{
  margin: 0;
  padding: 0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;

  background-color: #2F343A;
}

.lang-contacts-nav{
  display: flex;
  justify-content: space-around;

  font-size: 12px;
  line-height: 14px;
  text-align: center;

  padding-top: 4px;
  padding-bottom: 4px;

  background-color: #C8A35F;
}

.lang-contacts-nav__lang{
  display: flex;
  padding-inline-start: 0;
  list-style-type: none;
}

.lang-contacts-nav__lang-item{
  padding-left: 5px;
  padding-right: 5px;
}

.lang-contacts-nav__lang-link{
  color: inherit;
  text-decoration: none;

  opacity: 0.5;
}

.lang-contacts-nav__lang-link_selected{
  opacity: 1;
}

.lang-contacts-nav__contacts{
  padding-left: 5px;
  padding-right: 5px;
}

.nav{
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #2F343A;
}

.nav__logo-offices{
  display: flex;
}

.nav__main-menu{
  margin: 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-inline-start: 0;
}

.nav__logo{
  display: block;
  padding-top: 25px;
  padding-bottom: 21px;
  padding-right: 30px;
  padding-left: 30px;

  background-image: url("../img/line.svg");
  background-repeat: no-repeat;
  background-position: top 27px right 0;
}

.nav__logo:hover{
  background-color: #393F47;
}

.nav__offices{
  margin: 0;

  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-inline-start: 0;
}

.nav__offices-link{
  display: block;
  padding-top: 43px;
  padding-bottom: 33px;
  padding-left: 63px;
  padding-right: 33px;

  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;

  background-image: url("../img/placeholder.svg");
  background-repeat: no-repeat;
  background-position: bottom 38px left 25px;
}

.nav__offices-link:hover{
  background-color: #393F47;
}

.nav__main-menu-link{
  display: block;
  padding-top: 43px;
  padding-bottom: 43px;

  padding-left: 15px;
  padding-right: 15px;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__main-menu-link:hover{
  background-color: #393F47;
}

.main-info{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 620px;
  background-image: url("../img/Rectangle 2.png");
  background-position: center;
}

.main-info__transportation{
  margin-left: auto;
  margin-right: auto;

  max-width: 920px;

  border: 1px solid #C8A35F;
  box-sizing: border-box;
}

.main-info__title{
  margin-top: 45px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.main-info__text{
  margin-top: 30px;
  margin-bottom: 45px;
  margin-left: 11%;
  margin-right: 11%;

  text-align: center;
}

.services-slider{
  display: flex;
  justify-content: center;


  background-image: url("../img/bg.svg");
  background-position: center;
  min-height: 561px;
}

.services-slider__slide{
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-left: 5%;
  padding-right: 5%;
  min-width: 70%;
  max-width: 1332px;
}

.services-slider__info{
  z-index: 1;
}

.section-title{
  max-width: 445px;

  padding-top: 120px;

  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  background-image: url("../img/line1.svg");
  background-position: top 80px left 0;
  background-repeat: no-repeat;
}

.services-slider__text{
  max-width: 445px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.services-slider__button{
  padding-top: 18px;
  padding-bottom: 19px;
  padding-left: 48px;
  padding-right: 48px;

  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  background-color: #C8A35F;
}

.services-slider__button:hover{
  opacity: 0.9;
}

.services-slider__img{
  position: absolute;
  top: 25%;
  left: 40%;
  width: 40%;
  max-width: 550px;
  height: auto;
}

.services-slider__buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  z-index: 1;
}

.services-slider__next{
  padding: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #C8A35F;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  padding-right: 105px;

  border: none;
  background-color: inherit;

  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: bottom 16px right 1px;

}

.services-slider__back{
  padding: 15px;
  padding-right: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #C8A35F;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  padding-left: 105px;

  border: none;
  background-color: inherit;

  background-image: url("../img/arrow1.svg");
  background-repeat: no-repeat;
  background-position: bottom 16px left 1px;
}

.all-services{
  display: flex;
  justify-content: center;
}

.all-services__slide{
  display: flex;
  flex-direction: column;

  padding-left: 5%;
  padding-right: 5%;
  min-width: 70%;
  max-width: 1332px;
}

.all-services__items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding-inline-start: 0;
}

.all-services__item{
  position: relative;
  list-style-type: none;
  width: 23.5%;
  min-width: 220px;
}

.all-services__image{
  display: flex;
  justify-content: center;
}

.all-services__icon{
  margin-top: 30px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.all-services__text-icon{
  margin: 0;
  margin-top: 25px;
  font-family: 'icomoon';
  color: #fff;
  font-size: 70px;
}

.all-services__link:hover{
  background-color: #C8A35F;
}

.all-services__link:hover .all-services__text-icon{
  color: #2F343A;
}

.all-services__link:hover .all-services__icon{
  background-color: white;
}

.all-services__service-name{
  margin: 0;
  padding-top: 25px;
  padding-bottom: 35px;
}

.all-services__link{
  display: block;
  margin: 1px;

  background-color: #393F47;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.about-company{
  display: flex;
  justify-content: center;
}

.about-company__brief{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 120px;
  margin-bottom: 120px;

  background-image: url("../img/bg2.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  min-width: 82%;
  max-width: 1332px;
}

.about-company__column-title{
  max-width: 445px;
}

.about-company__column-cards{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-company__text{
  font-size: 16px;
  line-height: 23px;

  margin-bottom: 110px;
}

.about-company__info{
  display: flex;
  flex-wrap: wrap;

  margin-top: 50px;

  max-width: 605px;

  list-style-type: none;
}

.about-company__info-item{
  display: block;
  align-items: center;

  width: 200px;
  height: 160px;
  background-color: #FFFFFF;
  border: 0.25px solid #C8A35F;
  box-sizing: border-box;
}

.about-company__info-num{
  margin: 0;
  margin-top: 18px;

  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #2F343A;
}

.about-company__info-text{
  margin: 0;

  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #000000;
}

.about-company__info-text_size_min{
  margin-top: 10px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;
}

.maps{
  overflow:hidden;
  padding-top: 450px;
  position:relative;
  max-height: 450px;
  height:0;

  background-image: url("../img/maps.png");
  background-position: center;
  background-repeat: no-repeat;
}

.maps__yandex{
  display: block;
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.footer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  font-size: 14px;
  line-height: 16px;

  background-color: #C8A35F;
}

.footer__company{
  display: flex;
}

.footer__text{
  margin: 0;
  padding: 10px;
}

.footer__contacts{
  padding-top: 55px;
}

.footer__phones{
  margin: 0;
  padding-top: 55px;
  padding-bottom: 36px;
  list-style-type: none;
  padding-inline-start: 0;
}

.footer__text_color_black{
  color: #2F343A;
}

.footer__logo{
  padding-top: 60px;
  padding-bottom: 55px;
  padding-right: 30px;
  padding-left: 30px;
}

.footer__developed{
  display: flex;
  align-items: flex-end;
  color: #2F343A;
  padding-bottom: 46px;
}
